<% if flash[:notice] %>
        <%= flash[:notice] %>
<% end %>
<h1>Books</h1>
<table>
		<thead>
			<tr>
				<th>Title</th>
				<th>body</th>
				<th colspan="3"></th>
			</tr>
		</thead>
	<% @books.each do |book| %>
			<tbody>
				<tr>
					<td> <%= book.title %></td>
					<td> <%= book.body %></td>
					<td><%= link_to "show", book_path(book.id), class:"show_#{book.id}" %> </td>
					<td><%= link_to "edit", edit_book_path(book.id), class:"edit_#{book.id}" %> </td>
					<td><%= link_to "Dedtroy", book_path(book.id), method: :delete, class:"destroy_#{book.id}" %> </td>
				</tr>
			</tbody>
	<% end %>
</table>

<h2>NEW BOOK</h2>

<%= form_for(@book) do |f| %>

    <h4>Title</h4>
    <%= f.text_field :title, class:"book_title" %>

    <h4>body</h4>
    <%= f.text_area :body, class:"book_body"	 %>

    <%= f.submit 'create Book' %>

<% end %>

